# port number could be any number like 3000, 8000, 8080
PORT=8000

# mongodb connection url, you need to get the url, username and password from mongodb atlas
MONGODB_URL=mongodb+srv://<username>:<password>@<mongodb_cluster>/?appName=<cluster_name>